# shellcheck shell=bash # close enough for now
#
# ZSH environment (loaded first)
#

# Warning: Don't set PATH here, it'll get clobbered in macOS by /etc/zprofile

{{- if eq .role.designation "personal" }}

export PASSWORD_STORE_ENABLE_EXTENSIONS=true
{{- end }}
{{- if lookPath "git" }}

export GIT_AUTHOR_NAME={{ squote .contact.name }}
export GIT_AUTHOR_EMAIL={{ squote .contact.email }}
export GIT_COMMITTER_NAME={{ squote .contact.name }}
export GIT_COMMITTER_EMAIL={{ squote .contact.email }}
{{- end }}
{{- if lookPath "trivy" }}

export TRIVY_DB_REPOSITORY='public.ecr.aws/aquasecurity/trivy-db,aquasec/trivy-db,ghcr.io/aquasecurity/trivy-db'
export TRIVY_JAVA_DB_REPOSITORY='public.ecr.aws/aquasecurity/trivy-java-db,aquasec/trivy-java-db,ghcr.io/aquasecurity/trivy-java-db'
{{- end }}
{{- if lookPath "k9s" }}

export K9S_CONFIG_DIR="${HOME}/.config/k9s"
{{- end }}

test -S "${HOME}/.docker/run/docker.sock" && \
  export DOCKER_HOST="unix://${HOME}/.docker/run/docker.sock"

# shellcheck source=/dev/null
test -r "${ZDOTDIR:-$HOME}/.zshenv.local" && \
  source "${ZDOTDIR:-$HOME}/.zshenv.local"
