{{ if and (eq .chezmoi.os "darwin") (lookPath "k9s") -}}
#!/bin/sh

set -eu

# Config:            /home/foobar/.config/k9s/config.yaml
# Custom Views:      /home/foobar/.config/k9s/views.yaml
# Plugins:           /home/foobar/.config/k9s/plugins.yaml
# Hotkeys:           /home/foobar/.config/k9s/hotkeys.yaml
# Aliases:           /home/foobar/.config/k9s/aliases.yaml
# Skins:             /home/foobar/.config/k9s/skins
# Context Configs:   /home/foobar/.local/share/k9s/clusters
# Logs:              /home/foobar/.local/state/k9s/k9s.log
# Benchmarks:        /home/foobar/.local/state/k9s/benchmarks
# ScreenDumps:       /home/foobar/.local/state/k9s/screen-dumps

old_dir="${HOME}/Library/Application Support/k9s"
config_dir="${HOME}/.config/k9s"
share_dir="${HOME}/.local/share/k9s"
state_dir="${HOME}/.local/state/k9s"

migrate_to() {
	# shellcheck disable=SC3043
	local dest_dir

	dest_dir="$1"
	shift

	test ! -d "$dest_dir" && mkdir -p "$dest_dir"

	while [ $# -gt 0 ]; do
		test -e "$1" && mv "$1" "$dest_dir"
		ln -s "${dest_dir}/${1##*/}" "$old_dir"
		shift
	done
}

test ! -d "$old_dir" && mkdir -p "$old_dir"

migrate_to "$config_dir" "${old_dir}/config.yaml" \
                         "${old_dir}/views.yaml" \
                         "${old_dir}/plugins.yaml" \
                         "${old_dir}/hotkeys.yaml" \
                         "${old_dir}/aliases.yaml" \
                         "${old_dir}/skins"

migrate_to "$share_dir"  "${old_dir}/clusters"

migrate_to "$state_dir"  "${old_dir}/k9s.log" \
                         "${old_dir}/benchmarks" \
                         "${old_dir}/screen-dumps"
{{ end -}}
