{{ if and (eq .chezmoi.os "darwin") (lookPath "brew") -}}
#!/bin/sh

set -eu

cat <<_EOF_ | brew bundle --file=-
brew "atuin"
brew "eza"
brew "fd"
brew "fzf"
brew "ripgrep"
brew "starship"
brew "zoxide"
_EOF_
{{ end -}}
