{{ if (lookPath "nvim") -}}
#!/bin/sh

test -f "${HOME}/.config/nvim/lazy-lock.json" || exit 0

nvim --headless -c 'autocmd User MasonUpdateAllComplete quitall' \
                -c 'MasonUpdateAll'

{{- end }}
